{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-vue-jsx",
    "transform-runtime"
    // ["component", [{ "libraryName": "mint-ui", "style": true }]]
    // ["component", [{ "libraryName": "vant", "libraryDirectory": "es", "style": true }]]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    },
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [
        "transform-vue-jsx",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
